<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<h2>Update Record for : <%= data.name %> </h2>

    <form action="/index/<%= data.id %>?_method=PUT" method="POST">
        <table class="table-sm">
            <tbody>
              <tr>
                <td>Name: </td>
                <td><input type="text" name="name" value="<%= data.name %>"/></td>
              </tr>
              <tr>
                <td>Description: </td>
                <td><input type="text" name="description" value="<%= data.description %>" /> </td>
              </tr>
              <tr>
                <td>Financial Impact: </td>
                <td><input type="text" name="plImpact" value="<%= data.plImpact %>" /> </td>
              </tr>
              <tr>
                <td>Source: </td>
                <td><input type="text" name="source" value="<%= data.source %>"></td>
              </tr>
              <tr>
                <td>Location: </td>
                <td><input type="text" name="location" value="<%= data.location %>"></td>
              </tr>
              <tr>
                <td>Reporting Unit: </td>
                <td><input type="text" name="reportingUnit" value="<%= data.reportingUnit %>"></td>
              </tr>

            </tbody>
           
          </table>
          <br/>
          
        <input class="btn btn-success" type="submit" value="Update" style="margin-left: 130px;" />
    </form>
    
<%- include('./partials/footer.ejs') %>