<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<br/>
<br/>
<h2>Report name: <%= data.name %></h2>
<table class="table-sm">
    <tbody>
      <tr>
       
        <td>Description: </td>
        <td><%= data.description %></td>
    
      </tr>
      <tr>

        <td>Source Info:</td>
        <td><%= data.source %></td>

      </tr>
    </tbody>
  </table>
<br/>
<br/>
<br/>
<br/>

    <form action="/index/<%= data.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Record" class="btn btn-link btn-sm text-danger">
    </form>

    <a href="/index/<%= data.id %>/edit" class="btn btn-link btn-sm text-danger">Update Record</a>

<%- include('./partials/footer.ejs') %>

